<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hallulla</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: cyan; color:brown;">
  <br><br>
  <div class="container">
    <h1>Pan de Hallulla</h1>
    <br><br>
    <div class="row">
      <div class="col-6"><br>
        <p>
          La Hallulla es un tipo de pan blanco típico de Chile, Bolivia, Ecuador y Perú.<br>
          Su forma es redonda y plana, y tiene una consistencia firme y semiesponjosa.<br>
          Probablemente tengan su origen en otro pan plano y redondo típico de España,
          la Jallulla, aunque en la actualidad son dos panes con preparaciones diferentes.
        </p>
      </div>
      <div class="col-6">
        <img src="/assets/img/hallulla1.jpg" width="400">
      </div>
    </div><br>
    <h3>Información nutricional</h3><br>
    <p>Desde un punto de vista dietético, 100 gramos de Hallulla chilena equivalen
      a entre 309 y 321 calorías.
    </p><br><br>
    <h3>Consumo</h3><br>
    <p>En Chile, donde el consumo de pan factura anualmente más de USD 1300 millones,
      el 20% corresponde a la Hallulla, el 70% a la marraqueta, y el resto a la Baguette,
      al Pan Frica, y a los panes campesinos.<br>
      Después de Alemania, el segundo consumidor de pan a nivel global es Chile, donde
      se consumen anualmente 90kg por persona.
    </p><br><br>
    <h3>Ingredientes</h3><br>
    <p>La Hallulla se prepara a base de la harina de trigo, levadura, leche,
      agua tibia, sal y manteca.
    </p><br><br><br><br>
  </div>
</body>
</html>
